[user]
  name = Ole Bläsing
  email = ole.blaesing@heyflow.com
  signingkey = 027E0CD3DBC3617D
[core]
  editor = nvim
[interactive]
  singleKey = true
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[rerere]
  enabled = true
