[user]
  name = Ole Bläsing
  email = oleblaesing@users.noreply.github.com
  signingkey = C12BB5156C5CD833
[core]
  editor = nvim
[interactive]
  singleKey = true
[commit]
  gpgsign = true
[init]
  defaultBranch = main
[rerere]
  enabled = true
