[Desktop Entry]
Encoding=UTF-8
Name=Shadow
Exec=env -u WAYLAND_DISPLAY /home/ob/Downloads/ShadowPC.AppImage
Icon=/home/ob/Repositories/dotfiles/.local/share/applications/shadow.png
Terminal=false
Type=Application
StartupNotify=true
