[Desktop Entry]
Type=Application
Name=Shadow
Comment=Cloud Gaming PC
Exec=/home/ob/Downloads/ShadowPC.AppImage
Icon=/home/ob/Repositories/dotfiles/.local/share/applications/shadow.png
Categories=Game;
Keywords=gaming;cloud;pc;stream;
Terminal=false
StartupNotify=true
StartupWMClass=Shadow PC - Display
